# vim: syntax=bash:
# print os version only in interactive mode
# case $- in
#   *i*) lsb_release -d ;;
#   *)
# esac

# Disable crtl-s ctrl-q
stty -ixon

test -s ~/.bash_aliases_work && . ~/.bash_aliases_work || true

# Environment Variables #########################

# {{- $registerPythonArgcomplete := ""}} {{- $winUserName := "" }}

# {{- if eq .chezmoi.osRelease.name "openSUSE Tumbleweed" }}
# {{- $registerPythonArgcomplete = "register-python-argcomplete"}}
PATH="${PATH}:/usr/sbin"
# {{- end }}

# {{- if eq .chezmoi.osRelease.name "Ubuntu" }}
# {{-   $majorVersion := atoi (split "." .chezmoi.osRelease.versionID)._0 }}
# {{-   if ge $majorVersion 24 }}
# {{-     $registerPythonArgcomplete = "register-python-argcomplete"}}
# {{-   else}}
# {{-     $registerPythonArgcomplete = "register-python-argcomplete3"}}
# {{-   end }}
# {{- end }}

PATH="${PATH}:/usr/local/go/bin:${HOME}/.local/bin:${HOME}/.krew/bin"

# {{- if contains "WSL2" .chezmoi.kernel.osrelease }}
# WSL2 PATH config
# {{- $winUserName = output "sh" "-c" "/mnt/c/Windows/system32/cmd.exe /c 'echo %UserName%' 2> /dev/null" | trim }}
PATH="${PATH}:/mnt/c/Windows"
PATH="${PATH}:/mnt/c/Windows/system32"
PATH="${PATH}:/mnt/c/Program Files/Rancher Desktop/resources/resources/linux/bin"
PATH="${PATH}:/mnt/c/Users/{{ $winUserName }}/AppData/Local/Programs/Microsoft VS Code/bin"
# WSL2 PATH config END {{- end }}

export PATH
export PS1='\[\033[38;5;10m\]┌\[\033[38;5;39m\][\u@\[\033[38;5;10m\]\h\[\033[38;5;39m\]:\[\033[38;5;14m\]\w\[\033[38;5;39m\]]$(_tmp=$?; test "$(type -t __git_ps1)" = "function" && __git_ps1 "-[\033[38;5;10m%s\033[38;5;39m]"; [[ ${_tmp} != 0 ]] && echo "-[\[\033[0;91m\]${_tmp}\[\033[38;5;39m\]]")\n\[\033[38;5;10m\]└>>>\$ \[$(tput sgr0)\]'
export EDITOR=vim
export SYSTEMD_EDITOR=vim
export BAT_STYLE='plain'
export SSH_AUTH_SOCK="${XDG_RUNTIME_DIR:-${HOME}/.ssh}/ssh-agent.socket"


# Aliases #######################################
unalias rm 2> /dev/null || true
alias cp='cp -i'
alias mv='mv -i'
alias ls='ls -a --color --group-directories-first --time-style=long-iso'
alias ll='ls -l'
alias grep='grep --color'
alias egrep='egrep --color'
alias cget='curl -OJL'
alias tar='XZ_DEFAULTS="-T 0" tar'
alias tmux='tmux -2'  # Force 256 color support
alias rdl='redial'
alias readf='readlink -f'
alias gdiff='git diff --no-index'
alias gcd='cd $(git rev-parse --show-toplevel)'
alias python='python3'
# {{- if contains "WSL2" .chezmoi.kernel.osrelease }}
alias clip='/mnt/c/WINDOWS/system32/clip.exe'
# {{- else }}
alias clip='xclip -sel clip'
# {{- end }}
if [ ! -z "$(command -v nvim)" ]; then
  alias vim='nvim'
  export EDITOR='nvim'
fi
if [ ! -z "$(command -v terraform)" ]; then
  function tf {
    terraform "$@"
  }
fi


# Functions #####################################
function mkcd { mkdir -p ${1}; cd ${1}; }
function cheat { curl cheat.sh/${1}; }
function teehee { tee ${1}|less; }
function _code_wayland {
  /usr/bin/code --ozone-platform=wayland "$@"
}

if [ "${XDG_SESSION_TYPE}" == 'wayland' ]; then
  alias code='_code_wayland'
fi

# KeePass WSL2 SSH agent {{- if contains "WSL2" .chezmoi.kernel.osrelease }}
function _ssh_agent_wsl_proxy {
  ss -a | grep -q $1
  if [ $? -ne 0 ] || [ ! -S $1 ]; then
      echo Starting ssh-agent WSL proxy
      rm -f $1
      kill $(ps aux | grep "socat UNIX-LISTEN:$1" | head -1 | awk '{print $2}') 2> /dev/null
      (setsid socat UNIX-LISTEN:$1,fork EXEC:"/mnt/c/Users/{{ $winUserName }}/root/bin/npiperelay.exe -ei -s //./pipe/openssh-ssh-agent",nofork &) >/dev/null 2>&1
  fi
}

_ssh_agent_wsl_proxy $SSH_AUTH_SOCK
# KeePass WSL2 SSH agent END {{- end }}

# tmux ##########################################
if ! [ "${TERM_PROGRAM}" == 'vscode' ] && [ -z "${TMUX}" ]; then
  if tmux ls 2> /dev/null | grep -qP "^main:"; then
    tmux a -t main
  else
    cd
    tmux new -s main
  fi
fi
# tmux END

# yq ############################################
if [ ! -z "$(command -v yq)" ]; then
  source <(yq shell-completion bash)
fi
# yq END

# kubectl #######################################
if [ ! -z "$(command -v kubectl)" ]; then
  source <(kubectl completion bash)
  alias k=kubectl
  complete -o default -F __start_kubectl k
fi
# kubectl END

# helm ##########################################
if [ ! -z "$(command -v helm)" ]; then
  source <(helm completion bash 2> /dev/null)
  function hupgrade {
    local chart_dir=$(readlink -f $1)
    local args=$(echo "${@:2}")
    local chart_name=$(grep -E '^name: .*$' ${chart_dir}/Chart.yaml | awk '{print $2}')
    local cmd="helm dependency update ${chart_dir} && helm upgrade -i --dependency-update ${args} ${chart_name} ${chart_dir}"
    echo $cmd
    eval $cmd
  }
fi
# helm END

# cezmoi ########################################
if [ ! -z "$(command -v chezmoi)" ]; then
  source <(chezmoi completion bash)
fi
# chezmoi END

# ruff ##########################################
if [ ! -z "$(command -v ruff)" ]; then
  source <(ruff generate-shell-completion bash)
fi
# ruff END

# pipx ##########################################
if [ ! -z "$(command -v pipx)" ]; then
  source <({{ $registerPythonArgcomplete }} pipx)
fi
# pipx END

# aws ###########################################
if [ ! -z "$(command -v aws)" ] && [ ! -z "$(command -v aws_completer)" ]; then
  complete -C aws_completer aws
fi
# aws END

# yazi ##########################################
if [ ! -z "$(command -v yazi)" ]; then
  function yy() {
    local tmp="$(mktemp -t "yazi-cwd.XXXXXX")"
    yazi "$@" --cwd-file="$tmp"
    if cwd="$(cat -- "$tmp")" && [ -n "$cwd" ] && [ "$cwd" != "$PWD" ]; then
      builtin cd -- "$cwd"
    fi
    rm -f -- "$tmp"
  }
fi
# yazi END
