#!/bin/bash
# vim: syntax=bash:
set -e

{{ output "find" (print .chezmoi.sourceDir "/pyinfra/") "-type" "f" "-exec" "sha256sum" "{}" "+" | comment "# " }}

export PATH="${PATH}:${HOME}/.local/bin"
pyinfra inventory.py deploy.py -yv --chdir {{ .chezmoi.sourceDir }}/pyinfra
