#!/bin/bash
# vim: syntax=bash:
set -e

# WSL {{- if not (contains "microsoft" (lower .chezmoi.kernel.osrelease)) }}

echo "Installing user services"
systemctl --user enable --now ssh-agent
echo "Installing user services done"

echo "Installing fonts"
curl -L https://github.com/ryanoasis/nerd-fonts/releases/download/v3.2.1/Hack.tar.xz | \
  tar -Jxvf - -C $HOME/.local/share/fonts/ --exclude 'LICENSE.md' --exclude 'README.md'
echo "Installing fonts done"

# WSL END {{- end }}
