#!/bin/bash
# vim: syntax=bash:
set -e

# pyinfra/files/default-route-metric.conf hash: {{ include "pyinfra/files/default-route-metric.conf" | sha256sum }}
# pyinfra/inventory.py hash: {{ include "pyinfra/inventory.py" | sha256sum }}
# pyinfra/deploy.py hash: {{ include "pyinfra/deploy.py" | sha256sum }}
# pyinfra/utils.py hash: {{ include "pyinfra/utils.py" | sha256sum }}

export PATH="${PATH}:${HOME}/.local/bin"
pipx install pyinfra
pyinfra inventory.py deploy.py -yv --chdir {{ .chezmoi.sourceDir }}/pyinfra
